<h1 class="text-center">Livre d'or</h1>
<h2 class="text-center">Votre avis nous interresse !!!</h2>

<main class="container">

  <form #f="ngForm" (submit)="addComment(f)">
    <label for="pseudo">Votre pseudo</label>
    <input type="text" ngModel name = "pseudo" id = "pseudo">
    <label for="commentaire">Votre commentaire</label>
    <textarea name="" id="commentaire" ngModel name="commentaire"></textarea>
    <button type="submit">Ajouter</button>
  </form>

  <!--<app-commentaire-liste *ngIf="comments" [comments]="comments"></app-commentaire-liste>-->

</main>